<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--         <title>Menu</title>   -->
        <title><%= title %></title>        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/estilos.css" />    
        <link rel="stylesheet" type="text/css" href="../../public/assets/css/estilos/estilos.css" media="screen">
        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <link rel="stylesheet" href="estilos/estilos.css">
    
    </head>

    <body>
      <header>
       
        <ul class="nav nav-pills bg-dark nav-fill">
                  
          <br>

            <li class="nav-item bg-light text-dark">
              <a class="nav-link active text-dark" href="">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contasreceberListar">Contas a Receber</a>
            </li>
  </ul>
      </header>
      <card class="col-md-12">
        <h2 style="text-align: center">Projeto Final - Programação em Scripts - 5º ADS - Noturno</h2>
      </card>

      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <img src="/images/contas.jpg" class="img-fluid" />
            </div>
          </div>
        </div>

        <div class="card-group col-md-2">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <img src="/images/X.jpg" class="img-fluid" />
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <img src="/images/X.jpg" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <img src="/images/super.jpg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>  
      
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <h1 style="text-align: center">Contas A Receber</h1>
            </div>
          </div>
        </div>

        <div class="card-group col-md-2">
          <div class="col-md-12"></div>
          <div class="col-md-12"></div>
        </div>

        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <h1 style="text-align: center">Empresa</h1>
            </div>
          </div>
        </div>
      </div>  

  
    </body>
</html>